<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Toudou</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'toudou-navbar.html' %}
    <div class="table-container-login">
        <h2 class="login-title">Login</h2>
        <form id="createForm" action="{{ url_for('web_ui.login') }}" method="POST">
            {{ loginForm.csrf_token }}
            {{ loginForm.username.label }} {{ loginForm.username() }}
            {{ loginForm.password.label }} {{ loginForm.password() }}
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
