<form id="taskForm" action="{{ url_for('web_ui.create_task') }}" method="POST">
    <!--<label for="taskName">Task Name:</label><br>
    <input type="text" id="taskName" name="taskName" required><br>

    <label for="taskDescription">Description:</label><br>
    <textarea id="taskDescription" name="taskDescription"></textarea><br>

    <label for="taskDatetime">Date:</label><br>
    <input type="datetime-local" id="taskDatetime" name="taskDatetime"><br>

    <label for="taskStatus">Status:</label><br>
    <select id="taskStatus" name="taskStatus">
        <option value="False">False</option>
        <option value="True">True</option>
    </select>

    <br><br>-->
    {{ formCreate.csrf_token }}
    {{ formCreate.taskName.label }} {{ formCreate.taskName() }}
    {{ formCreate.taskDescription.label }} {{ formCreate.taskDescription() }}
    {{ formCreate.taskDatetime.label }} {{ formCreate.taskDatetime() }}
    {{ formCreate.taskStatus.label }} {{ formCreate.taskStatus() }}
    <input type="submit" value="Add">
</form>

{% if message == "success" %}
<div class="message-box success">
    <p><strong>Created successfully!</strong></p>
</div>
{% elif message == "failed" %}
<div class="message-box error">
    <p><strong>Creation failed :(</strong></p>
</div>
{% endif %}