<form id="updateForm" action="{{ url_for('web_ui.update_task') }}" method="POST">
    {{ updateForm.csrf_token }}
    {{ updateForm.taskId.label }} {{ updateForm.taskId() }}
    {{ updateForm.newTaskName.label }} {{ updateForm.newTaskName() }}
    {{ updateForm.newDescription.label }} {{ updateForm.newDescription() }}
    {{ updateForm.newDatetime.label }} {{ updateForm.newDatetime() }}
    {{ updateForm.newStatus.label }} {{ updateForm.newStatus() }}
    <input type="submit" value="Update">
</form>

{% if message == "success" %}
<div class="message-box success">
    <p><strong>Updated successful!</strong></p>
</div>
{% elif message == "failed" %}
<div class="message-box error">
    <p><strong>Update failed :(</strong></p>
</div>
{% endif %}