<form id="taskForm" action="{{ url_for('web_ui.create_task') }}" method="POST">
    {{ formCreate.csrf_token }}
    {{ formCreate.taskName.label }} {{ formCreate.taskName() }}
    {{ formCreate.taskDescription.label }} {{ formCreate.taskDescription() }}
    {{ formCreate.taskDatetime.label }} {{ formCreate.taskDatetime() }}
    {{ formCreate.taskStatus.label }} {{ formCreate.taskStatus() }}
    <input type="submit" value="Add">
</form>

{% if message == "success" %}
<div class="message-box success">
    <p><strong>Created successfully!</strong></p>
</div>
{% elif message == "failed" %}
<div class="message-box error">
    <p><strong>Creation failed :(</strong></p>
</div>
{% endif %}