<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - CSV</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'toudou-navbar.html' %}
    <div class="container">
        <div class="center-div">
            <h2>Import/Export CSV</h2>
            <p>Note that the exported data will be located in 'data'</p>

             <form method="post" action="/export_csv">
                <input name="export_csv" type="submit" value="Export to CSV">
            </form>

            <form method = "POST" enctype="multipart/form-data" action = "/import_csv">
                <input type="file" name="file" accept=".csv">
                <input type = "submit" value="Import from CSV">
            </form>

            {% if message in ["success_export", "success_import"] %}
            <div class="message-box success">
                <p><strong>{{ "Exported" if message == "success_export" else "Imported" }} successfully!</strong></p>
            </div>
            {% elif message in ["failed_export", "failed_import"] %}
            <div class="message-box error">
                <p><strong>{{ "Exportation" if message == "failed_export" else "Importation" }} Failed :(</strong></p>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
