<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toudou - {{ todo.id }} Task</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    {% include 'toudou-navbar.html' %}
        <div class="taskviewdiv">
        <h2>Task Details</h2>
        <h3>ID<strong>:</strong> {{ todo.id }}</h3>
        <p><strong>Task Name:</strong> {{ todo.task }}</p>
        <p><strong>Description:</strong> {{ todo.description }}</p>
        <p><strong>Date:</strong> {{ todo.date }}</p>
        <p><strong>Status:</strong> {{ todo.status }}</p>
    </div>
</body>
</html>
