<table id="taskTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Description</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <td><a href="{{ url_for('web_ui.viewTodo', todoid=todo.id) }}">{{ todo.id }}</a></td>
            <td>{{ todo.task }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.date }}</td>
            <td class="{% if todo.status == false %} to-finish {% else %} finished {% endif %}">                {% if todo.status == false %}
                    To Finish
                {% else %}
                    Finished
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>